html {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 10vh;
    border: rgb(0,0,0,.2) 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #696eff;
}

#login {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 0;
}

input {
    border: rgb(0,0,0,.2) 1px solid;
    width: 300px;
    height: 30px;
}

#first {
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#second {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    border: none;
    border-radius: 15px;
    background-color: #696eff;
    color: white;
    width: auto;
    height: 50px;
}